$titulos-inicio: (
    titulo: 50px,
    sombra: 0 0 9px rgb(164, 47, 47) ,
    color: rgb(247, 96, 96),
)

// aquí solo se me ocurrio poner la fuente que usé para algunos títulos, ya que no fué igual 
// en los demás. Cada uno tiene un estílo distinto y eso no me permitío usar 
// como corresponde la sección de maps.